services:
  web-server-tracer:
    build:
      context: docker/nginx
      dockerfile: nginx.Dockerfile
    restart: always
    container_name: web-server-tracer
    ports:
      - "9040:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/conf.d/Tracer.local.conf:/etc/nginx/conf.d/Tracer.local.conf
      - ./docker/nginx/symfony-cors.conf:/etc/nginx/symfony-cors.conf
    links:
      - php-tracer
    depends_on:
      - php-tracer

  php-tracer:
    container_name: php-tracer
    build:
      context: docker/php
      dockerfile: php.Dockerfile
    environment:
      PHP_IDE_CONFIG: "serverName=tracer"
      XDEBUG_CONFIG: remote_host=192.168.0.109
    volumes:
      - .:/var/www/html
      - ./docker/php/php.ini:/usr/local/etc/php/conf.d/php.ini
    depends_on:
      - mysql-tracer

  mysql-tracer:
    container_name: mysql-tracer
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: 'dev'
      MYSQL_PASSWORD: 'dev'
      MYSQL_DATABASE: tracer
    command:
      - "mysqld"
      - "--local_infile=true"
    ports:
      - "3310:3306"

  phpmyadmin-tracer:
    container_name: phpmyadmin-tracer
    image: phpmyadmin/phpmyadmin:5.0.1
    restart: always
    environment:
      PMA_HOST: mysql-server-tracer
      PMA_USER: root
      PMA_PASSWORD: root
      UPLOAD_LIMIT: 50M
    ports:
      - "5022:80"
    depends_on:
      - mysql-tracer
